@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");

body {
  font-family: 'Changa', sans-serif;
  background-image:url(gym02.jpeg); 
  background-size: 1300px;
  width: 100%;
  height: 45px;
}
  ::-webkit-scrollbar {
    width: 0;
}

* {
  box-sizing: border-box;
}


.form-container {
  background: white;
  margin: 150px auto;
  width: 400px;
  border-radius: 10px 10px 10px 10px;
}

form {
  padding: 20px;

}

.cor {
  color:#7C70E4;
  size: 200px;
}
form,h2,h3 {
  text-align: center;
}

.title {
  text-align: center;
  text-decoration: none;
  size: 100px;
}

form .input-container {
  position: relative;
  margin-bottom: 15px;
}

form .input-container input, input[type="submit"] {
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

form input[type="submit"] {
  border: 0;
  background: red;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

form .input-container input {
  border: 1px solid #E4E4E4;
  color: #818181;
  padding: 0 55px 0 25px;
  font-size: 1rem;
}

form .input-container input::placeholder {
  color: #818181;
}

form .input-container svg {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
  color: #818181;
}

.options-container {
  padding: 0 20px;
  margin: 25px auto;
  color: #818181;
}

.options-container .checkbox-container, .options-container a{
  display: inline-block;
  width: 50%;
}

a {
  text-align: right;
  color: rgb(8, 6, 6);
  text-decoration: none;
}

form p {
  color: #818181;
  text-align: center;
}

form .social-media-container {
  margin: 20px auto;
  width: fit-content;
}

form .social-media-container .icon-container {
  background: #375c98;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

form .social-media-container .icon-container:nth-child(2) {
  background: #C54F33;
}

form .social-media-container .icon-container:nth-child(3) {
  background: #4dadf2;
}

form .social-media-container .icon-container svg {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  color: white;
}

hr {
  color: #818181;
}

.footer {
  width: fit-content;
  margin: 20px auto;
}
