@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
}

/* barra de rolagem invisivel */
::-webkit-scrollbar {
  width: 0;
}

/* menu de navegação */
.navbar {
  font-size: 120%;
  padding: 0 5%;
  font-family: 'Changa', sans-serif;
  border-bottom: 2px solid #e4e4e4;
}

/* animação da barra de navegação */
.navbar :hover {
  color: #7C70E4;
  text-decoration: none;
}

/* animação botão de login */
.nav-link :hover {
  background-color: #7C70E4;
  border-radius: 10px;
  color: white;
}

/* links de navegação */
.link {
  padding: 0 15px;
  color: black;
}

.navbar-brand {
  font-size: xx-large;
}

/* cor da logo */
.cor {
  color: #7C70E4;
}


/* Rodapé */
footer {
  float: left;
  width: 100%;
  max-width: 3000px;
}

/* Estilo dos botões */
.btn {
  border-style: none;
  background-color: #7C70E4;
}

/* Daqui pra cima Template padrão */

.cont01 {
  margin: 0 2%;
  width: 60%;
  float: left;
}

#img01 {
  width: 35%;
  float: right;
}

h1 {
  color: #7C70E4;
}