@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
}

/* barra de rolagem invisivel */
::-webkit-scrollbar {
  width: 0;
}

/* menu de navegação */
.navbar {
  font-size: 160%;
  font-family: 'Changa', sans-serif;
  border-bottom: 2px solid #e4e4e4;
}

/* animação da barra de navegação */
.navbar :hover {
  color: #7C70E4;
  text-decoration: none;
}

/* animação botão de login */
.nav-link :hover {
  background-color: #7C70E4;
  border-radius: 10px;
  color: white;
}

/* links de navegação */
.link {
  padding: 0 15px;
  color: black;
}

.navbar-brand {
  font-size: xx-large;
}

/* cor da logo */
.cor {
  color: #7C70E4;
}


/* Rodapé */
footer {
  float: left;
  width: 100%;
  max-width: 3000px;
}


/* Estilo dos botões */
#click {
  color: #7C70E4;
}

/* Estilo dos botões */
.btn {
  border-style: none;
  background-color: #7C70E4;
  margin-left: 2%;
}

h5 {
  color: #7C70E4;
}

h1 {
  font-size: 300%;
  color: #7C70E4;
}

/* Daqui pra cima Template padrão */

.card {
  width: 45%;
  display: inline-flex;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;

}

.card-footer {
  width: 100%;
  text-align: center;

}

#icon {
  width: 15%;
}

.jumbotron {
  background-color: white;
}

#img01 {
  width: 40%;

}

#txtLead {
  padding-left: 2%;
}

#img02 {
  float: right;
  width: 35%;
}

.form-group {
  margin-left: 2%;
}

#leadText {
  margin-left: 2%;
}

#cardEmail {
  width: 60%;
}

input {
  border: 1%;
  display: flex;
  margin: 5px;
  max-width: 400px;
}

button {
  margin: 5px;
}

@media only screen and (max-device-width: 900px) {
  /*
  .card {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
  } */
}