@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
}

/* barra de rolagem invisivel */
::-webkit-scrollbar {
  width: 0;
}



/* menu de navegação */
.navbar {
  font-size: 160%;
  font-family: 'Changa', sans-serif;
  border-bottom: 2px solid #e4e4e4;
}

/* animação da barra de navegação */
.navbar :hover {
  color: #7C70E4;
  text-decoration: none;
}

/* animação botão de login */
.nav-link :hover {
  background-color: #7C70E4;
  border-radius: 10px;
  color: white;
}

/* links de navegação */
.link {
  padding: 0 15px;
  color: black;
}

.navbar-brand {
  font-size: xx-large;
}

/* cor da logo */
.cor {
  color: #7C70E4;
}


/* Rodapé */
footer {
  float: left;
  width: 100%;
  max-width: 3000px;
}

/* Estilo dos botões */
#click {
  color: #7C70E4;
}

/* Daqui pra cima Template padrão */



.cont01 {
  padding: 1% 5%;
}

.btn-link {
  color: #7C70E4;
  text-align: center;
  font-size: 90%;

}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  text-indent: 10px;
  font-size: large;
}

.card-header {
  width: 100%;

}

h2#titulo {
  text-align: center;
  font-size: 300%;

  color: #7C70E4;
}



button#enviar {
  position: relative;
  font-weight: lighter;
  left: 90%;
  border: 10px;
  margin: 0em;
  padding: 1px 5px;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  text-rendering: auto;

}

#accordion {
  width: 60%;
  float: left;
  display: block;
  min-width: 300px;
}

.img {
  width: 40%;
  float: center;
  min-width: 300px;
}

.sumario {
  font-size: large;
}

.display-4 {
  font-size: x-large;
}

.jumbotron {
  background-color: white;
}

h1 {
  color: #7C70E4;
}